<footer class="bg-secondary text-center py-3 mt-5">
  <div class="container">
    <div class="icons">
      <div class="insta sub-icons"><i class="fa-brands fa-instagram"></i></div>
      <div class="x sub-icons"><i class="fa-brands fa-x-twitter"></i></div>
      <div class="yt sub-icons"><i class="fa-brands fa-youtube"></i></div>
    </div>
    <p class="mb-0">&copy; <%= new Date().getFullYear() %> Wanderlust. All rights reserved.</p>
  </div>
</footer>
