.navbar{
    background-color: white;
}
.fa-compass{
    font-size: 2rem;
    color: #fe424d;
}
.nav-link{
    font-weight: 500;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;

}
.sub-icons{
    margin-left: 1rem;
    font-size: 1rem;
}
.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card {
  border-radius: 16px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.btn-main{
    background-color: #fe424d;
    color: white;
}