.fa-compass{
    color: rgb(233, 95, 118);
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.navbar{
    background-color: rgb(240, 238, 238);
}

.footer{
    /* position: fixed; */
    color: #222222;
    text-align: center;
    font-weight: none;
    background-color: rgb(240, 238, 238);
    justify-content: center;
    align-items: center;
    
    bottom: 0px;

}
.f-info-socials{
    margin-right: 1.2rem;
    font-size: 1.2rem;
}
.card{
    /* margin: 2rem !important; */
    text-decoration: none !important;
    height: 250px;
    width: 250px;
}
.card a{
    text-decoration: none !important;
    color: #222222;
}
.card-img-top{
    height: 150px !important;
    width: 100% !important;
}
