<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Route</title>
</head>
<body>
    <h1>All Listings</h1>
    <form method="GET" action="/listing/new"><button>New Entry</button></form></a>
        <%for(let listing of listings){%>
        <ul>
            <li><a href="/listing/<%= listing._id %>"><%= listing.title %></li>
        </ul>
        <%}%>
    
</body>
</html>